<li>
  <%= cost.category %>
  <%= cost.description %>
  <%= cost.date %>
  <%= cost.amount %>
  <%= cost.currency %>
  <%= link_to 'Show', cost %>
  <%= link_to 'Edit', edit_cost_path(cost) %>
  <%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %>
</li>
